<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/index.css">
  <script src="https://kit.fontawesome.com/c542606888.js" crossorigin="anonymous"></script>
  <script src="../scripts/script.js"></script>
  <title>GumBusters Home</title>
</head>

<body>
  <header class="header-design">
    <nav class="nav" id="myTopnav">
      <a href="index.html">
        <div class="logo">
          <i class="fa-brands fa-digg fa-2xl"></i>
        </div>
      </a>
      <ul class="nav-items">
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
      </ul>
      <div class="phone-links">
        <a href="contact.html" class="contact-button">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="phoneDropdown()">
          <i style="color: white;" class="fa-solid fa-bars fa-2xl"></i>
        </a>
      </div>
    </nav>
    <div class="header-image"></div>
    <div class="header-words">
      <h1>Gumbusters</h1>
      <h2>
        PROFESSIONAL GUM REMOVAL. <br>
        POLISHED RESULTS. <br>
        MINIMAL TIME.
      </h2>
    </div>
  </header>

  <main>

    <div class="intro-container">
      <h1 class="intro-header">SPECIALISTS IN GUM REMOVAL <br>+ OUTDOOR FLOOR POLISHING</h1>
      <div class="intro-line"></div>
      <p class="intro-paragraph">
        GumBusters specializes in expert gum removal from tough outdoor surfaces and professional 
        concrete polishing/cleaning services tailored for residential and commercial properties alike. 
        With meticulous attention to detail, we ensure that your outdoor spaces become sources of pride and joy. 
        Trust Gum Busters to revitalize your property with our dedication to excellence and expert care, 
        leaving your surfaces looking their best.
      </p>
      <h3>NO OUTDOOR SURFACE IS TOO DIRTY </h3>
      <p class="intro-paragraph">
        At Gum Busters, we have the expertise to tackle even the toughest outdoor surfaces. From grimy paths to weather-worn outdoor courts and stained patios, we specialize in transforming outdoor areas into pristine spaces that you can enjoy year-round. Just like our commitment to excellence in gum removal and concrete polishing, we ensure that your outdoor entertaining spaces reflect your vision and exceed your expectations. Click below to learn more about us!
      </p>
      <a class="intro-button" href="about.html">About Us</a>
    </div>
    <div class="middle-img-container">
      <div class="image-filler"></div>
      <div class="sec-img">
          <h1>Sick of that gum everywhere?</h1>
          <h1>give us a call</h1>
      </div>
    </div>

    <div class="services-container">
      <h1 class="intro-header">OUR SERVICES</h1>
      <div class="intro-line"></div>
      <div class="phone-service">
        <p>
          At Ocon Building Group, we are dedicated to helping you rediscover the joy of living in your home.
          Our commitment to quality workmanship and personalised service has earned us a reputation as a premier
          home renovation company in Melbourne. We believe that your home is your sanctuary and that it should
          be a source of comfort, joy, and pride.
        </p>
      </div>
      <div class="service-boxes">
        <div class="service-box">
          <h2>Service 1</h2>
          <p>At Ocon Building Group, we are dedicated to helping you rediscover the joy of living in your home.
            Our commitment to quality workmanship and personalised service has earned us a reputation as a premier
            home renovation company in Melbourne. We believe that your home is your sanctuary and that it should
            be a source of comfort, joy, and pride.
          </p>
        </div>
        <div class="service-box">
          <h2>Service 2</h2>
          <p>At Ocon Building Group, we are dedicated to helping you rediscover the joy of living in your home.
            Our commitment to quality workmanship and personalised service has earned us a reputation as a premier
            home renovation company in Melbourne. We believe that your home is your sanctuary and that it should
            be a source of comfort, joy, and pride.
          </p>
        </div>
        <div class="service-box">
          <h2>Service 3</h2>
          <p>At Ocon Building Group, we are dedicated to helping you rediscover the joy of living in your home.
            Our commitment to quality workmanship and personalised service has earned us a reputation as a premier
            home renovation company in Melbourne. We believe that your home is your sanctuary and that it should
            be a source of comfort, joy, and pride.
          </p>
        </div>
      </div>
      <a class="intro-button" href="services.html">BROWSE OUR SERVICES</a>
    </div>
    
    <div class="sec-text-container">
      <div class="slideshow">
        <div class="slide">
          <img src="../images/before1.JPG">
          <img src="../images/after1.JPG">
        </div>
        <div class="slide">
          <img src="../images/before2.JPG">
          <img src="../images/after2.JPG">
        </div>
        <div class="slide">
          <img src="../images/before3.JPG">
          <img src="../images/after3.JPG">
        </div>
        <div class="slide">
          <img src="../images/before4.JPEG">
          <img src="../images/after4.JPEG">
        </div>
      </div>
      <div class="project-word">
        <h1 class="intro-header white">want to see previous results?</h1>
        <a class="intro-button">browse our portfolio</a>
      </div>
    </div>
  </main>
</body>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <i class="fa-brands fa-digg fa-2xl"></i>
    </div>
    <div class="footer-section hideable">
      <h2>NAVIGATION</h2>
      <ul class="footer-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>
    </div>
    <div class="footer-section hideable">
      <h2>SERVICES</h2>
      <ul class="footer-services">
        <li><a href="#">Service 1</a></li>
        <li><a href="#">Service 2</a></li>
        <li><a href="#">Service 3</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>CONTACT</h2>
      <ul class="footer-contact">
        <li>Email: example@example.com</li>
        <li>Phone: +1234567890</li>
      </ul>
    </div>
  </div>
</footer>


</html>