<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/projects.css">
  <script src="../scripts/script.js"></script>
  <link href="../styles/icons/css/fontawesome.css" rel="stylesheet">
  <link href="../styles/icons/css/brands.css" rel="stylesheet">
  <link href="../styles/icons/css/solid.css" rel="stylesheet">
  <title>Your Website</title>
</head>

<body>
  <header class="header-design">
    <nav class="nav" id="myTopnav">
      <a href="index.html">
        <div class="logo">
          <i class="fa-brands fa-digg fa-2xl"></i>
        </div>
      </a>
      <ul class="nav-items">
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="projects.html" class="active">Projects</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
      </ul>
      <div class="phone-links">
        <a href="contact.html" class="contact-button">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="phoneDropdown()">
          <i style="color: white;" class="fa-solid fa-bars fa-2xl"></i>
        </a>
      </div>
    </nav>
    <div class="header-image"></div>
    <div class="header-words">
      <h1>Projects</h1>
      <h2>
        See Our Work Portfolio
      </h2>
    </div>
  </header>

  <main>
    <div class="portfolio-container">
      <div class="portfolio-tile">
        <div class="tile-content">
          <img src="../images/before1.JPG" alt="Image 1">
          <img src="../images/after1.JPG" alt="Image 2">
          <div>
            <h3>Header</h3>
            <div class="intro-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="portfolio-tile">
        <div class="tile-content">
          <div>
            <h3>Header</h3>
            <div class="intro-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
          </div>
          <img src="../images/before2.JPG" alt="Image 1">
          <img src="../images/after2.JPG" alt="Image 2">
        </div>
      </div>
      <div class="portfolio-tile">
        <div class="tile-content">
          <img src="../images/before3.JPG" alt="Image 1">
          <img src="../images/after3.JPG" alt="Image 2">
          <div>
            <h3>Header</h3>
            <div class="intro-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="portfolio-tile">
        <div class="tile-content">
          <div>
            <h3>Header</h3>
            <div class="intro-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
          </div>
          <img src="../images/before4.JPEG" alt="Image 1">
          <img src="../images/after4.JPEG" alt="Image 2">
        </div>
      </div>
    </div>
  </main>  
</body>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <i class="fa-brands fa-digg fa-2xl"></i>
    </div>
    <div class="footer-section hideable">
      <h2>NAVIGATION</h2>
      <ul class="footer-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>
    </div>
    <div class="footer-section hideable">
      <h2>SERVICES</h2>
      <ul class="footer-services">
        <li><a href="#">Service 1</a></li>
        <li><a href="#">Service 2</a></li>
        <li><a href="#">Service 3</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>CONTACT</h2>
      <ul class="footer-contact">
        <li>Email: example@example.com</li>
        <li>Phone: +1234567890</li>
      </ul>
    </div>
  </div>
</footer>

</html>