/* Variables */
:root {
  --color: #68b0f7;
}

/* Add Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, ul, li, p, input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
}

.header-design h1, h2, h3, ul, li {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.white {
  color: white !important;
}

/* Nav Styles */


/* Header styling */
.header-design {
  position: relative;
  margin-bottom: 0;
}

/* Navigation styling */

.nav {
  position: relative; /* Change to relative positioning */
  background-color: transparent;
  z-index: 1000; /* Ensure the navigation appears above other content */
  transition: background-color 0.8s ease; 
  display: flex;
  align-items: center;
  padding: 20px;
}

.sticky-nav {
  background-color: rgba(0, 0, 0, 0.414); /* Semi-transparent black background */
  position: fixed;
  top: 0; /* Stick to the top */
  left: 0;
  right: 0;
}

.logo {
  height: 40px;
  width: 80px;
  color: white;
  font-size: xx-large;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav a.active {
  color: var(--color);
}


.nav-items a:hover {
  color: var(--color);
}


.contact-button {
  padding: 10px 20px;
  border: solid 2px var(--color);
  color: var(--color);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.contact-button:hover {
  background-color: var(--color);
  color: white;
}

/* Phone Nav */

.nav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav .nav-items {
    display: none;
  }

  .nav {
    display: inline-block;
    width: -webkit-fill-available;
    padding-bottom: 35px;
  }

  .nav .icon {
    float: right;
    display: block;
    margin-left: 30px;
    font-size:15px;
  }

  .nav.responsive {
    background-color: rgba(0, 0, 0, 0.414);
  }

  .nav.responsive .nav-items {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  .nav.responsive .nav-items li {
    padding: 10px;
    margin-right: 0px;
    border-bottom: 1px solid white;
  }

  .nav.responsive .nav-items li:hover {
    color: var(--color);
  }

  .phone-links {
    position: absolute;
    right: 20px;
    top: 40px;
  }
}

/* MISCELLANEOUS */

.intro-line {
  width: 200px;
  height: 2px;
  background-color: var(--color);
}

/* FOOTER */

.footer {
  background-color: var(--color);
  color: white;
  padding: 20px 0;
}

.footer h3 {
  margin-bottom: 5px;
}

.footer-container {
  display: flex;
    justify-content: center;
    margin: 0 20%;
    gap: 40px;
}

.footer-logo {
  flex-basis: 20%;
  background-color: black;
  padding: 20px;
  height: 100px;
}

.footer-section {
  flex-basis: 20%;
  padding: 0 20px;
}

.footer h2 {
  font-size: 1.3rem; /* Adjusted font size */
  margin-bottom: 15px; /* Adjusted margin */
}

.footer-nav, .footer-contact, .footer-services {
  list-style: none;
  padding: 0;
}

.footer-nav li, .footer-contact li, .footer-services li {
  margin-bottom: 8px; /* Adjusted margin */
}

.footer-nav a, .footer-services a {
  font-size: 0.9rem; /* Adjusted font size */
  color: white;
  text-decoration: none;
}

.footer-contact li {
  font-size: 0.8rem; /* Adjusted font size */
}

@media screen and (max-width: 1000px) {
  footer .footer-section.hideable,.footer-section h2 {
    display: none;
  }

  footer.footer {
    padding: 10px 0;
  }

  footer .footer-container {
    margin: 5px 15px;
    gap: 0px;
  }

  footer .footer-section {
    font-size: 50%;
  }

  footer .footer-logo {
    height: 40px;
    width: 100%;
  }

  .logo .fa-brands {
    line-height: normal;
  }
}

/* Miscellaneous */

.hidden {
  display: none;
}

.blue {
  color: var(--color);
}

.intro-button {
  display: inline-block;
  color: var(--color);
  border: 2px solid var(--color);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.intro-button:hover {
  background-color: var(--color);
  color: white;
}

/* slideshow */

.sec-text-container {
  height: 500px;
  margin: 0;
  position: relative;
}

.slideshow {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slideshow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.5));
  pointer-events: none; /* add this to allow clicks to pass through the pseudo-element */
}

.slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.7s ease; /* add a transition */
}

.slide img {
  width: 50vw;
  height: auto;
  object-fit: cover;
}

.project-word {
  position: absolute;
  top: 50%; /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-50%, -50%); /* center the elements */
  z-index: 1; /* make sure the elements are on top */
  text-align: center;
}

